* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #e8e7e3;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: hsl(0, 0%, 0%);
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: hsl(0, 0%, 0%);
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 10px;
}

nav input {
    margin-right: 10px;
    padding: 5px;
    font-size: 1em;
}

nav button {
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
}

#mapContainer {
    display: flex;
    flex-direction: row; /* This keeps the order but aligns them left-to-right */
}

#map {
    width: 100%;
    height: calc(100vh - 200px);  /* Responsive height */
    background-color: #f0f0f0;     /* Light background for map area */
}


#errorMessage {
    color: red;
    text-align: center;
    margin-top: 10px;
}



